@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --color-primary: 247 247 247;
    --color-text: 33 33 33;
    --color-success: 0 200 81;
    --color-info: 51 181 229;
    --color-warn: 255 187 51;
    --color-error: 254 78 78;
  }

  :root[class~="dark"] {
    --color-primary: 17 24 39;
    --color-text: 211 211 211;
    --color-success: 0 200 81;
    --color-info: 51 181 229;
    --color-warn: 255 187 51;
    --color-error: 254 78 78;
  }

  body {
    background-color: rgb(var(--color-primary));
    color: rgb(var(--color-text));
    height: 100%;
  }

  .ctext-primary {
    color: rgb(var(--color-text));
  }

  .cbg-primary {
    background: rgb(var(--color-primary));
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}