<template>

  <!-- If the user is not authenticated, then is redirected to login page -->
  <div v-if="isAuthenticated" class="mb-16">
    <!-- If the user is authenticated, show the UserEmailsList -->
    <div class="flex justify-stretch p-4">
      <div class="flex-1">
        <div class="flex justify-start items-center">
          <img class="mr-4" src="/favicon.png" width="56" height="56"/>
          <h1 class="font-bold text-2xl">ComMan UI</h1>
        </div>
      </div>
      <div class="flex-0">
        <div class="items-center space-x-4">
          <span>Welcome {{ username }}!</span>
          <button @click="logout"
            class="bg-red-500 hover:bg-red-700 dark:bg-red-700 dark:hover:bg-red-500 text-white font-bold py-2 px-4 rounded">Logout</button>
        </div>
      </div>
    </div>

    <UserEmailsList />

  </div>

  <div class="cbg-primary fixed inset-x-0 bottom-0 h-16">
    <ThemeSwitch />
  </div>
</template>

<script>
import { computed, watch, nextTick } from 'vue';
import { useRouter, useHead } from '#app';
import { useAuthStore } from '@/stores/auth';
import LoginForm from '@/components/LoginForm.vue';
import UserEmailsList from '@/components/UserEmailsList.vue';
import ThemeSwitch from '@/components/interactive/ThemeSwitch.vue';

export default {
  components: {
    LoginForm,
    UserEmailsList,
    ThemeSwitch
  },
  setup() {
    const router = useRouter();
    const store = useAuthStore();

    const isAuthenticated = computed(() => !!store.accessToken);
    const username = computed(() => store.username);

    useHead({
      title: 'ComMan UI'
    })

    // Watcher for accessToken
    watch(
      () => store.accessToken,
      (newVal) => {
        if (newVal) {
          console.log('Access token updated');
        } else {
          router.push('/login');
        }
      },
      { immediate: true }
    );

    const logout = () => {
      store.logout();
      router.push('/login'); // Adjust as necessary
    };

    return { isAuthenticated, username, logout };
  },
  methods: {
    restoreScroll(_try) {
      if (_try > 150) {
        // abort restore scroll after 30s (150 x 200ms)
        return
      }
      const savedPosition = localStorage.getItem('scrollpos');
      if (savedPosition) {
        const position = parseInt(savedPosition, 10);
        if (document.body.scrollHeight > position) {
          window.scrollTo(0, position);
        } else {
          // Scroll to bottom and load more content
          window.scrollTo(0, document.body.scrollHeight);
          window.dispatchEvent(new Event('scroll'));
          setTimeout(this.restoreScroll, 200, _try++);
        }
      }
    }
  },
  mounted() {
    nextTick().then(this.restoreScroll)

    window.onbeforeunload = function(e) {
      localStorage.setItem('scrollpos', window.scrollY);
    };
  }
};
</script>

<style></style>