<template>
  <div>
    <!-- Your login form goes here -->
    <LoginForm />
  </div>
  <div class="fixed inset-x-0 bottom-0 h-16">
    <ThemeSwitch />
  </div>
</template>
  
<script>
import { useHead } from '#app';

import LoginForm from '@/components/LoginForm.vue';
import ThemeSwitch from '@/components/interactive/ThemeSwitch.vue';

export default {
  components: {
    LoginForm,
    ThemeSwitch
  },
  setup() {
    useHead({
      title: 'ComMan UI | Login'
    })
  }
};
</script>