<template>
    <div v-if="showModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center z-50" @click="closeModal()">
      <div @click.stop class="cbg-primary p-8 rounded-lg shadow-lg w-full max-w-6xl relative">
          <div class="p-4 pt-5 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="w-full">
                <h3 class="text-lg leading-6 font-medium flex items-center" id="modal-title">
                  <span class="flex-1">Email #{{ email.id }}</span>
                  <span v-if="email.status === 'sent'" class="flex-none">
                    <svg class="w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                  </span>
                  <span v-if="email.status == 'queued'" class="flex-none">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z" />
                    </svg>
                  </span>
                  <span v-if="email.status == 'error'" class="flex-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="w-6 h-6 text-red-500" viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                  </span>
                </h3>

                <div class="border-t border-gray-200 my-4"></div>

                <div class="mb-4">
                  <div class="text-sm">From</div>
                  <div class="font-bold">{{ email.from_name }} &lt;{{ email.from_email }}&gt;</div>
                </div>

                <div class="mb-4">
                  <div class="text-sm">To</div>
                  <div class="font-bold">{{ email.to_email }}</div>
                </div>

                <div class="border-t border-gray-200 my-4"></div>

                <highlightjs autodetect :code="email.body" />
              </div>
            </div>
          </div>
          <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button @click="showModal = false" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 text-base font-medium hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
              Close
            </button>
          </div>
        </div>
      </div>
  </template>
  
  <script>
  export default {
    props: {
      email: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        showModal: false
      };
    },
    mounted() {
      window.addEventListener('keydown', this.handleEscapePress);
    },
    beforeDestroy() {
      window.removeEventListener('keydown', this.handleEscapePress);
    },
    methods: {
      handleEscapePress(event) {
        if (event.key === 'Escape' && this.showModal) {
          this.closeModal();
        }
      },
      closeModal() {
        this.showModal = false;
      },
    },
  };
  </script>
  