<template>
  <div :class="{ invisible: !isScrolled }">
    <!-- Round Button -->
    <button @click="scrollToTop"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-full h-12 w-12 flex items-center justify-center shadow-lg">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isScrolled: false
    }
  },
  methods: {
    scrollToTop() {
      window.scrollTo(0, 0);
    },
    onScroll() {
      this.isScrolled = window.top.scrollY > 0
    }
  },
  mounted() {
    window.addEventListener("scroll", this.onScroll)
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll)
  }
}
</script>