<template>
  <div>
    <!-- Round Button -->
    <button @click="showModal = true"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-full h-12 w-12 flex items-center justify-center shadow-lg">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
    </button>

    <!-- Modal -->
    <div v-if="showModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center z-50" @click="closeModal()">
      <div @click.stop class="cbg-primary p-8 rounded-lg shadow-lg w-full max-w-2xl relative">
        <button @click="showModal = false" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <h2 class="text-lg font-semibold mb-4">New Email</h2>
        <form @submit.prevent="submit" class="space-y-4">
          <div>
            <label for="from" class="block text-sm font-medium">From *</label>
            <input ref="newFrom" id="from" type="text" placeholder="Email or 'Name <email@address.ltd>'" v-model="from"
              required class="mt-1 p-2 w-full border rounded-md" />
          </div>
          <div>
            <label for="to" class="block text-sm font-medium">To *</label>
            <input id="to" type="email" placeholder="Recipient's email" v-model="to" required
              class="mt-1 p-2 w-full border rounded-md" />
          </div>
          <div>
            <label for="subject" class="block text-sm font-medium">Subject *</label>
            <input id="subject" type="text" placeholder="Email subject" v-model="subject" required
              class="mt-1 p-2 w-full border rounded-md" />
          </div>
          <div>
            <label for="body" class="block text-sm font-medium">Body *</label>
            <textarea id="body" placeholder="Email body" v-model="body" required
              class="mt-1 p-2 w-full h-96 border rounded-md"></textarea>
          </div>
          <p class="flex items-center gap-1 mt-2 font-sans text-sm antialiased font-normal leading-normal text-gray-700 dark:text-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 -mt-px">
              <path fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 01.67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 11-.671-1.34l.041-.022zM12 9a.75.75 0 100-1.5.75.75 0 000 1.5z"
                clip-rule="evenodd"></path>
            </svg>
            You can use HTML to compose the email.
          </p>
          <div>
            <label for="scheduledAt" class="block text-sm font-medium">Schedule at</label>
            <input id="scheduledAt" type="datetime-local" v-model="scheduledAt"
              class="mt-1 p-2 w-full border rounded-md" />
          </div>
          <div class="flex justify-end">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full flex justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-send-fill"
                viewBox="0 0 16 16">
                <path
                  d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
  
<script>
export default {
  props: {
    onEmailSentFunction: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      showModal: false,
      from: '',
      to: '',
      subject: '',
      body: '',
      scheduledAt: ''
    };
  },
  methods: {
    resetForm() {
      this.from = '';
      this.to = '';
      this.subject = '';
      this.body = '';
      this.scheduledAt = '';
    },
    callEmailSentFunction(email)
    {
      if (this.onEmailSentFunction) {
        this.onEmailSentFunction(email);
      }
    },
    parseEmailFrom(inputString) {
      const regex = /(.+?) <([^>]+)>/;
      const match = inputString.match(regex);

      let name = null;
      let email;

      if (match) {
          // If regex matches, extract name and email
          name = match[1].trim();
          email = match[2];
      } else {
          // If no match, assume the whole string is the email
          email = inputString.trim();
      }

      return { name, email };
    },
    submit() {
      const from_p = this.parseEmailFrom(this.from);
      const payload = {
        'from_email': from_p.email,
        'from_name': from_p.name,
        'subject': this.subject,
        'body': this.body,
        'to_email': this.to,
      };

      if (this.scheduledAt) {
        var scheduled = new Date(this.scheduledAt);
        payload.scheduled_time = scheduled.getUTCFullYear() + "-" + (scheduled.getUTCMonth() + 1) + "-" + scheduled.getUTCDate() + "T" + scheduled.getUTCHours() + ":" + scheduled.getUTCMinutes() + ":" + scheduled.getUTCSeconds() + "." + scheduled.getUTCMilliseconds() + "Z";
      }

      console.log(payload);

      this.$apiClient.post('/emails/', payload)
        .then(function(response) {
          console.log(response);
          this.callEmailSentFunction(response.data);
        }.bind(this))
        .catch(error => {
          console.log(error);
        })      
      this.resetForm()
      //
      this.showModal = false;
    },
    handleEscapePress(event) {
        if (event.key === 'Escape' && this.showModal) {
          this.closeModal();
        }
      },
      closeModal() {
        this.showModal = false;
      },
  },
  watch: {
    showModal(newValue) {
      if (newValue) {
        this.$nextTick(() => {
          const newFrom = this.$refs.newFrom;
          if (newFrom) {
            newFrom.focus();
          }
        });
      }
    }
  },
  mounted() {
      window.addEventListener('keydown', this.handleEscapePress);
    },
    beforeDestroy() {
      window.removeEventListener('keydown', this.handleEscapePress);
    }
};
</script>
