<template>
    <div class="min-h-screen flex items-center">
        <div class="w-full">
            <div class="w-full flex justify-center items-center">
                <img class="mr-4" src="/favicon.png" width="56" height="56"/>
                <h1 class="font-bold text-2xl">ComMan UI</h1>
            </div>
            <div class="flex items-center justify-center">
                <div class="px-8 py-6 mt-4 text-left bg-white dark:bg-slate-800 shadow-lg">
                    <h3 class="text-2xl font-bold text-center">Login to your account</h3>
                    <form @submit.prevent="login">
                        <div class="mt-4 relative">
                            <input type="text" id="username" v-model="credentials.username"
                                class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-pink-500 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
                                placeholder=" "
                                required />
                            <label class="after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-500 transition-all after:absolute after:-bottom-1.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-pink-500 after:transition-transform after:duration-300 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-blue-gray-500 peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-pink-500 peer-focus:after:scale-x-100 peer-focus:after:border-pink-500 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                                Username
                            </label>
                        </div>
                        <div class="mt-4 relative">
                            <input type="password" id="password" v-model="credentials.password"
                                class="peer h-full w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-pink-500 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
                                placeholder=" "
                                required />
                            <label class="after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-500 transition-all after:absolute after:-bottom-1.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-pink-500 after:transition-transform after:duration-300 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-blue-gray-500 peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-pink-500 peer-focus:after:scale-x-100 peer-focus:after:border-pink-500 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                                Password
                            </label>
                        </div>
                        <div v-if="loginError" class="mt-2 text-red-600">
                            {{ loginErrorMessage }}
                        </div>
                        <div class="mt-4">
                            <label>
                                <input type="checkbox" v-model="rememberMe" />
                                Remember me 
                            </label>
                        </div>
                        <div class="flex items-baseline justify-center">
                            <button type="submit" class="mt-4 w-full bg-transparent hover:bg-blue-500 text-blue-700 dark:text-blue-500 dark:hover:bg-blue-700 dark:hover:ctext-primary  font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue';
import { useRouter } from '#app';
import { useAuthStore } from '@/stores/auth';


export default {
    setup() {
        const store = useAuthStore();
        const router = useRouter();
        const credentials = ref({
            username: '',
            password: ''
        });
        const loginError = ref(false);
        const loginErrorMessage = ref('');
        const rememberMe = ref(false);

        const login = async () => {
            try {
                await store.login({
                    username: credentials.value.username,
                    password: credentials.value.password,
                    remember: rememberMe.value
                });
                
                router.push('/');
            } catch (error) {
                loginError.value = true;
                console.log(error);
                loginErrorMessage.value = error.response?.data || 'Failed to login. Please check your credentials and try again.';
            }
        };

        return {
            credentials,
            loginError,
            loginErrorMessage,
            rememberMe,
            login
        };
    }
};
</script>

