<template>
  <div class="container mx-auto p-6">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold">
        Sent Emails
        <span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">{{ emails.length }} / {{ emails_count }}</span>
      </h2>
      <button @click="refreshEmails" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        <svg :class="{ 'animate-spin': loadingMore }" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
        </svg>
      </button>
    </div>
    <div id="email-container" class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 dark:border-slate-700 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="divide-y divide-gray-200 dark:divide-slate-700">
                <tr>
                  <th>Subject</th>
                  <th>Queued at</th>
                  <th>Sent at</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 dark:divide-slate-700">
                <tr v-for="email in emails" :key="email.id" @click="openEmailDetails(email)">
                  <td class="px-6 py-4 whitespace-nowrap">
                    {{ email.subject }}
                  </td>
                  <td>
                    <UTooltip :text="this.$formatDate(email.queued_at, 'dddd, MMMM Do YYYY, HH:mm:ss')" :popper="{ placement: 'right' }">
                      {{ this.$relative(email.queued_at) }}
                    </UTooltip>
                  </td>
                  <td>
                    <span v-if="email.sent_at">
                      <UTooltip :text="this.$formatDate(email.sent_at, 'dddd, MMMM Do YYYY, HH:mm:ss')" :popper="{ placement: 'right' }">
                        {{ this.$relative(email.sent_at) }}
                      </UTooltip>
                    </span>
                    <span v-else>
                      never
                    </span>
                  </td>
                  <td @click.stop>
                    <button v-if="email.status == 'error'" @click="retryEmail(email)">
                      <svg :class="{ 'animate-spin': retrying[email.id] }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                      </svg>
                    </button>
                    <span v-else>
                      &nbsp;
                    </span>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <EmailStatusIcon :email="email" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Loading Spinner -->
    <div v-if="loadingMore" class="flex justify-center items-center py-4">
      <div class="loader"></div>
    </div>
    <EmailDetailsModal :email="selectedEmail" ref="emailDetailsModal" />
    <div class="fixed inline-flex space-x-2 bottom-0 right-0 h-16 w-32 z-30">
      <ScrollToTopButton />
      <SendEmailButtonModal :onEmailSentFunction="emailSent" />
    </div>
  </div>
</template>

<style>
.loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s ease-in-out;
}
</style>

<script>
import EmailDetailsModal from './interactive/EmailDetailsModal.vue';
import SendEmailButtonModal from './interactive/SendEmailButtonModal.vue';
import ScrollToTopButton from './interactive/ScrollToTopButton.vue';
import EmailStatusIcon from './ui-elements/EmailStatusIcon.vue';

export default {
  components: {
    EmailDetailsModal,
    SendEmailButtonModal,
    EmailStatusIcon,
    ScrollToTopButton
},
  data() {
    return {
      emails: [],
      emails_count: 0,
      selectedEmail: {},
      nextUrl: null,
      loadingUrl: null,
      loadingMore: false,
      retrying: {},
      emailIntervals: {}, // Stores interval IDs and attempts for each email
      maxAttempts: 60
    };
  },
  methods: {
    async fetchEmails(url = '/emails') {
      try {
        this.loadingMore = true;
        const response = await this.$apiClient.get(url);
        this.emails = [...this.emails, ...response.data.results];
        this.nextUrl = response.data.next;
        this.emails_count = response.data.count;

        if (!this.isPageFull() && response.data.count > this.emails.length) {
          await this.fetchEmails(this.nextUrl);
        }

        this.loadingMore = false;
      } catch (error) {
        console.error('Error fetching emails:', error);
        this.loadingMore = false;
      }
    },
    refreshEmails() {
      this.emails = [];
      this.fetchEmails();
    },
    emailSent(email) {
      this.emails.unshift(email);
      this.emails_count++;
      this.startEmailRefresh(email.id);
    },
    async refreshEmail(emailId) {
      try {
        const response = await this.$apiClient.get('/emails/' + emailId + '/');
        const email = response.data;

        const emailIndex = this.emails.findIndex(e => e.id == emailId);
        if (emailIndex !== -1) {
          this.emails[emailIndex] = email;
        }
      } catch (error) {
        console.error('Failed to refresh email:', error);
      }
    },
    startEmailRefresh(emailId) {
      if (!this.emailIntervals[emailId]) {
        this.emailIntervals[emailId] = { intervalId: null, attempts: 0 };
      }

      this.emailIntervals[emailId].attempts = 0;
      this.emailIntervals[emailId].intervalId = setInterval(() => {
        this.emailIntervals[emailId].attempts++;
        if (this.emailIntervals[emailId].attempts >= this.maxAttempts) {
          clearInterval(this.emailIntervals[emailId].intervalId);
          console.log(`Maximum attempts reached for email ${emailId}. Stopping refresh.`);
        } else {
          this.refreshEmail(emailId);
        }
      }, 3000); // Refresh every 3 seconds
    },
    openEmailDetails(email) {
      this.selectedEmail = email;
      this.$refs.emailDetailsModal.showModal = true;
    },
    retryEmail(email) {
      this.$apiClient.get('/emails/' + email.id + '/retry/')
        .then((r) => {
          console.log(r);
          this.startEmailRefresh(email.id);
        })
        .catch((e) => {
          console.log(e);
        })
        .finally(() => {
          // handle end spin
        });
    },
    handleScroll() {
      if (this.isFullyScrolled() && this.nextUrl && !this.loadingMore) {
        if (this.loadingUrl && this.loadingUrl != this.nextUrl) {
          this.loadingUrl = this.nextUrl;
          this.fetchEmails(this.nextUrl);
        } else if (!this.loadingUrl) {
          this.loadingUrl = this.nextUrl;
          this.fetchEmails(this.nextUrl);
        }
      }
    },
    isPageFull() {
      return document.body.scrollHeight > window.innerHeight;
    },
    isFullyScrolled() {
      const winScroll = window.scrollY || window.scrollTop || document.getElementsByTagName("html")[0].scrollTop;
      const height = document.body.scrollHeight - document.documentElement.clientHeight;
      return winScroll / height > .9;
    }
  },
  mounted() {
    this.fetchEmails(); // Fetch emails when the component is mounted
  },
  created() {
    if (process.client) { 
        window.addEventListener('scroll', this.handleScroll);
    }
  },
  beforeDestroy() {
    Object.keys(this.emailIntervals).forEach(emailId => {
      if (this.emailIntervals[emailId].intervalId) {
        clearInterval(this.emailIntervals[emailId].intervalId);
      }
    });
  },
  destroyed() {
      if (process.client) { 
          window.removeEventListener('scroll', this.handleScroll);
      }
  }
};
</script>
